<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <div class="imageContainer"> <img src="../../assets/images/profilePic.jpg" alt="User Image" style="width: 200px; height: 200px; border-radius: 50%;"> </div>
      <ion-col size="12" size-md="8" size-lg="6" class="ion-text-center">
        <div class="profile-card">
          <div class="profile-info">
            <ion-item class="profile-item">
              <ion-label class="item-label">Name</ion-label>
              <ion-text class="item-value">Aditya Salunke</ion-text>
            </ion-item>
            <ion-item class="profile-item">
              <ion-label class="item-label">E-mail</ion-label>
              <ion-text class="item-value">adisalu15@gmail.com</ion-text>
            </ion-item>
            <ion-item class="profile-item">
              <ion-label class="item-label">Contact</ion-label>
              <ion-text class="item-value">9873543212</ion-text>
            </ion-item>
            <ion-item class="profile-item">
              <ion-label class="item-label">Roll No</ion-label>
              <ion-text class="item-value">2022510053</ion-text>
            </ion-item>
            <ion-item class="profile-item">
              <ion-label class="item-label">HSC Marks</ion-label>
              <ion-text class="item-value">90%</ion-text>
            </ion-item>
            <ion-item class="profile-item">
              <ion-label class="item-label">SSC Marks</ion-label>
              <ion-text class="item-value">95%</ion-text>
            </ion-item>
          </div>
        </div>

        <div class="post-card">
          <h2 class="post-title">My Posts</h2>
          <ion-card class="post-item">
            <ion-card-header>
              <ion-card-title>Ionic Journey</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Learning
            </ion-card-content>
          </ion-card>

          <ion-card class="post-item">
            <ion-card-header>
              <ion-card-title>Flutter journey</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Installation of Flutter
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
