img{
  border-radius: 1000px;
  width:10rem;
  height:10rem;
}
.containerButton{
  display: flex;
  align-self: center;
  justify-content: center;
}

.imageContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}